/* IMPORT */

@import url('style.css');
@import url('figure.css');

/* MAIN */

.main__container--padding{
    padding: 0 95px;
    padding-bottom: 100px;
}

.main__title{
    font-size: 5.6rem;
    line-height: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.main__body--box{
    display: flex;
    align-items: flex-start;
}

.main__body--box:not(:last-child){
    margin-bottom: 55px;
}

.main__body--title{
    width: 32%;
    font-size: 3.2rem;
    line-height: 125%;
    align-items: normal;
}

.main__body--par{
    width: 68%;
}

.main__img{
    margin: 0 auto;
    width: 1440px;
    height: 500px;
    position: relative;
    z-index: 0;
}

.main__img::before{
    content: '';
    width: 780px;
    height: 780px;
    border-radius: 50%;
    background-color: var(--san_juan_blue);
    opacity: .15;
    position: absolute;
    top: -140px;
    left: -515px;
    z-index: -1;
} 

.main__status{
    padding: 72px 0;
    display: flex;
    justify-content: space-between;
}

.status__info{
    width: 31%;
    font-family: var(--secondary_font);
    font-size: 5.6rem;
    line-height: 128%;
    padding: 16px 0;
    color: var(--dark_pink);
    border-top: 1px solid #BFCBD5;
    border-bottom: 1px solid #BFCBD5;
}

.status__info--span{
    display: block;
    font-size: 1.6rem;
    line-height: 175%;
    color: var(--san_juan_blue);
}


/* ==================================== */


/* TABLET */

@media only screen and (max-width: 992px){

    /* MAIN */

    .main__container--padding{
        padding: 0 40px;
        padding-bottom: 100px;
    }

    .main__body--title{
        width: 35%;
        font-size: 3.2rem;
        line-height: 125%;
        align-items: normal;
    }

    .main__body--par{
        width: 65%;
    }

    .main__title{
        text-align: center;
        font-size: 4.8rem;
        line-height: 116%;
    }

    .main__body--box:not(:last-child){
        margin-bottom: 65px;
    }

    .main__img{
        width: 100%;
        max-width: 769px;
        height: 267px;
    }

    .main__img::before{
        content: none;
    }
}

/* MOBILE */

@media only screen and (max-width: 576px){ 

    /* MAIN */

    .main__container--padding{
        padding: 0 25px;
        padding-bottom: 75px;
    }

    .main__title{
        font-size: 3.2rem;
        line-height: 112%;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .main__body--title{
        width: 100%;
        font-size: 2.4rem;
        line-height: 133%;
        margin-bottom: 16px;
    }

    .main__body--box{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main__body--par{
        width: 100%;
    }

    .main__img{
        width: 375px;
        height: 300px;
    }

    .main__status{
        flex-direction: column;
        align-items: center;
    }
    
    .status__info{
        width: 100%;
        text-align: center;
        border: none;
        font-weight: 700;
    }

    .status__info:first-child{
        border-top: 1px solid #BFCBD5;
    }

    .status__info:last-child{
        border-bottom: 1px solid #BFCBD5;
    }
}
