/* IMPORT */

@import url('style.css');

/* STYLES */

.form{
    width: 445px;
    display: flex;
    align-items: center;
    position: relative;
}

.form__input{
    width: 100%;
    padding: 14px 27px;
    background-color: var(--link_water_white);
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
    border: none;
}

.form__button{
    position: absolute;
    right: 0;
    top: 0;
}

input::placeholder{
    font-family: inherit;
    color: var(--san_juan_blue);
    font-size: 1.5rem;
    font-weight: 700;
    opacity: .5;
}

/* HERO */

.header{
    overflow: hidden;
}

.hero__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 35px;
    padding-bottom: 75px;
}

.hero__container::before{
    content: '';
    width: 780px;
    height: 780px;
    background-color: var(--san_juan_blue);
    border-radius: 50%;
    opacity: 0.15;
    position: absolute;
    top: -300px;
    right: -290px;
    z-index: -1;
}

.hero__text{
    width: 546px;
    height: auto;
}

.hero__title{
    margin-bottom: 21px;
}

.hero__form{
    margin-bottom: 16px;
}

.hero__sub-title{
    margin-left: 27px;
}

.hero__link{
    color: inherit;
    font-weight: 700;
}

.hero__link:hover{
    text-decoration: underline;
}

.hero__img{
    width: 265px;
    height: 500px;
    overflow: hidden;
    border-radius: 35px;
    filter: drop-shadow(0px 2px 44px rgba(0, 0, 0, 0.15));
    margin-right: 90px;
    flex-shrink: 0;
}

/* INTRO */

.content{
    overflow: hidden;
}

.content__intro{
    background-color: var(--mirage_blue);
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}

.intro__container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
}

.intro__container::before{
    content: '';
    width: 780px;
    height: 780px;
    background-color: var(--san_juan_blue);
    border-radius: 50%;
    opacity: 0.15;
    position: absolute;
    top: -470px;
    left: -390px;
    z-index: -1;
}

.intro__text{
    width: 445px;
    color: var(--link_water_white); 
}

.intro__title{
    margin-bottom: 24px;
    color: var(--link_water_white);
} 

.intro__par{
    margin-bottom: 32px;
    width: 445px;
    opacity: .7;
}

.intro__img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.intro__img img{
   width: 140px;
   height: 30px;
   object-fit: contain;
}

/* MAIN */

.content__main{
    padding: 150px 0;
}

.main__content{
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    overflow: visible
}

.main__content:last-child{
    margin-bottom: 0;
}

.main__container{
    position: relative;
    z-index: 0;
}

.main__container::before{
    content: '';
    width: 780px;
    height: 780px;
    background-color: var(--san_juan_blue);
    border-radius: 50%;
    opacity: 0.15;
    position: absolute;
    top: 290px;
    right: -540px;
    z-index: -1;
}

.content__img-1{
    width: 445px;
    height: 284px;
    overflow: hidden;
    margin-right: 125px;
    border-radius: 15px;
    flex-shrink: 0;
    filter: drop-shadow(0px 2px 44px rgba(0, 0, 0, 0.15));
}

.content__text{
    width: 445px;
}

.content__title{
    margin-bottom: 24px;
}

.content__par{
    width: 389px;
}

.content__img-2{
    width: 566px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    flex-shrink: 0;
}

.content__img-2 img{
    border-radius: 35px;
    filter: drop-shadow(0px 2px 44px rgba(0, 0, 0, 0.15));
}

.content__img-2 img:not(:last-child){
    margin-right: 40px;
}

/* SERVICES */

.services{
    padding-bottom: 100px;
}

.services__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.services__box{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.services__box::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background-color: var(--san_juan_blue);
    border-radius: 50%;
    background-image: url('../ico/personal_finance.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    margin-bottom: 32px;
}

.services__box:nth-child(2):before{
    background-image: url('../ico/banking.svg');
}

.services__box:nth-child(3):before{
    background-image: url('../ico/consumer.svg');
}

.services__title{
    margin-bottom: 16px;
    font-weight: 700;
}

.services__par{
    text-align: center;
    width: 100%;
    max-height: 110px;
    overflow: hidden;
}

/* CTA */

.content__cta{
    padding-bottom: 100px;
}

.cta__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* ==================================== */


/* TABLET */

@media only screen and (max-width: 992px){
    
    /* STYLES */

    h1,
    h2{
        font-weight: 400;
    }
    
    /* HERO */

    .hero__container::before{
        width: 950px;
        height: 950px;
        top: -120%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .hero__container{
        flex-direction: column-reverse;
    }

    .hero__img{
        width: 159px;
        height: 300px;
        border-radius: 20px;
        margin-right: 0;
        transform: translateY(-28px);
        filter: drop-shadow(20px 20px 30px rgba(54, 83, 107, 0.3));
        margin-bottom: 30px;
    }

    .hero__text{
        width: 573px;
        text-align: center;
    }

    .hero__title{
        font-size: 4.8rem;
        line-height: 116%;
    }

    .hero__form{
        margin: 0 auto;
        margin-bottom: 16px;
    }

    /* INTRO */

    .intro__container{
        flex-direction: column-reverse;
    }

    .intro__container::before{
        top: -140%;
        left: 50%;
        transform: translateX(-50%);
    }

    .intro__text{
        text-align: center;
    }

    .intro__img{
        margin-bottom: 65px;
    }
    
    /* MAIN */

    .content__main{
        padding: 100px 0;
    }

    .main__content{
        flex-direction: column;
        margin-bottom: 100px;
    }

    .main__container::before{
        content: none;
    }

    .content__img-1{
        width: 410px;
        height: 250px;
        margin-right: 0;
        margin-bottom: 50px;
        filter: drop-shadow(20px 20px 30px rgba(54, 83, 107, 0.3));
    }

    .content__text{
        width: 573px;
        text-align: center;
    }

    .content__par{
        width: 100%;
    }

    .main__content:last-child{
        flex-direction: column-reverse;
    }

    .content__img-2{
        width: 363px;
        height: 320px;
        margin-left: unset;
        margin-bottom: 50px;
    }

    .content__img-2 img{
        width: auto;
        height: 320px;
        border-radius: 25px;
        filter: drop-shadow(20px 20px 30px rgba(54, 83, 107, 0.3));
    }

    .content__img-2 img:not(:last-child){
        margin-right: 25px;
    }

    /* CTA */

    .cta__content{
        flex-direction: column;
    }

    .cta__title{
        margin-bottom: 40px;
    }
}

/* MOBLE */

@media only screen and (max-width: 576px){

    /* STYLE */

    .form__button{
        position: unset;
        width: 100%;
    }

    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .form__input{
        margin-bottom: 16px;
    }

    /* HERO */

    .hero__container::before{
        top: -108%;
    }

    .hero__text{
        width: 100%;
    }

    .hero__title{
        font-size: 3.1rem;
        margin-bottom: 25px;
    }

    .hero__form{
        margin-bottom: 25px;
    }

    /* INTRO */

    .intro__container::before{
        top: -113%;
    }

    .intro__text{
        width: 100%;
        text-align: center;
    }

    .intro__title{
        font-size: 3.2rem;
        line-height: 112.5%;
        margin-bottom: 16px;
    }

    .intro__par{
        width: 100%;
        margin-bottom: 60px;
    }

    .intro__img{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    /* MAIN */

    .content__main{
        padding: 80px 0;
    }

    .content__img-1{
        width: 327px;
        height: 210px;
    }

    .content__text{
        width: 100%;
    }

    .content__title{
        font-size: 3.6rem;
        line-height: 100%;
    }

    .content__img-2{
        width: 328px;
        height: 290px;
    }

    .content__img-2 img{
        width: 152px;
        height: 290px;
    }

    /* SERVICES */

    .services{
        padding-bottom: 80px;
    }

    .services__container{
        flex-direction: column;
        justify-content: start;
    }

    .services__box{
        width: 100%;
    }

    .services__box:not(:last-child){
        margin-bottom: 50px;
    }

    /* CTA */

    .cta__title{
        font-size: 3.2rem;
        line-height: 112.5%;
        text-align: center;
    }
}