/* IMPORT */

@import url('style.css');
@import url('figure.css');

/* HERO */

.header__hero{
    padding: 85px 0;
}

.hero__heading{
    font-size: 56px;
    line-height: 100%;
}

/* MAIN */

.main__container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 95px;
}

.main__box{
    width: 30%;
    display: flex;
    align-self: normal;
    flex-direction: column;
}

.main__body{
    margin-top: auto;
}

.main__head{
    width: 100%;
}

.head__title{
    font-size: 3.2rem;
    line-height: 125%;
    color: var(--dark_pink);
    margin-bottom: 16px;
}

.head__par{
   margin-bottom: 8px; 
}

.head__price{
    margin-top: auto;
    font-family: var(--secondary_font);
    font-size: 5.6rem;
    line-height: 128%;
    color: var(--san_juan_blue);
}

.main__line{
    height: 1px;
    width: 100%;
    border: none;
    background-color: var(--san_juan_blue);
    margin: 25px 0;
    opacity: .15;
}

.body__item{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.body__item{
    color: var(--san_juan_blue);
    font-size: 1.6rem;
    line-height: 175%;
}

.body__item::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../ico/tick.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 25px;
}

.body__item--disable{
    opacity: .7;
}

.body__item--disable::before{
    background-image: none;
}

/* ==================================== */


/* TABLET */

@media only screen and (max-width: 992px){
    
    /* HERO */

    .hero__heading{
        text-align: center;
        font-size: 4.8rem;
        line-height: 116%;
    }
    
    /* MAIN */

    .main__box{
        width: 32%;
        text-align: center;
    }

    .main__head{
        text-align: center;
    }

    .head__title{
        font-size: 2.4rem;
        line-height: 166%;
        margin-bottom: 13px;
    }

    .head__par{
        margin-bottom: 19px;
        max-height: 85px;
        overflow: hidden;
    }

    .head__price{
        font-size: 4.8rem;
    }

}

/* MOBILE */

@media only screen and (max-width: 576px){

    /* HERO */

    .header__hero{
        padding: 50px 0;
    }

    .hero__heading{
        font-size: 3.2rem;
    }

    /* MAIN */

    .main__container{
        flex-direction: column;
    }

    .main__box{
        margin-bottom: 50px;
        width: 100%;
    }

    .main__box:last-child{
        margin-bottom: 0;
    }

    .head__title{
        margin-bottom: 80px;
    }

    .head__par{
        display: none;
    }

    .main__body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}